Velcro test First SandBox/src/flows/Find_Campaign_by_Name-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Campaign_output</name>
        <label>Campaign_output</label>
        <locationX>175</locationX>
        <locationY>419</locationY>
        <assignmentItems>
            <assignToReference>Campaign_output_Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Campaign_Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Lead_to_Campaign</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Campaign_found</name>
        <label>Campaign found</label>
        <locationX>173</locationX>
        <locationY>228</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Campaign_found_res</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Campaign_Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Campaign_output</targetReference>
            </connector>
            <label>Campaign_found_res</label>
        </rules>
        <rules>
            <name>Campaign_not_found</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Campaign_Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Campaign not found</label>
        </rules>
    </decisions>
    <description>Selects a camapign by a name parameter and creates campaign member if found with the lead</description>
    <interviewLabel>Find Campaign by Name {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Find Campaign by Name</label>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Assign_Lead_to_Campaign</name>
        <label>Assign Lead to Campaign</label>
        <locationX>411</locationX>
        <locationY>391</locationY>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <elementReference>Campaign_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
        </inputAssignments>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <stringValue>EUR</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadId</field>
            <value>
                <elementReference>Lead_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
    </recordCreates>
    <recordLookups>
        <name>Find_Campaign</name>
        <label>Find Campaign</label>
        <locationX>85</locationX>
        <locationY>113</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Campaign_found</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Campaign_name</elementReference>
            </value>
        </filters>
        <object>Campaign</object>
        <outputAssignments>
            <assignToReference>Campaign_Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <startElementReference>Find_Campaign</startElementReference>
    <variables>
        <description>Campaign_Id</description>
        <name>Campaign_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Campaign_name</description>
        <name>Campaign_name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Campaign_output_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Lead_Id passed by process</description>
        <name>Lead_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
