Velcro test First SandBox/src/flows/Find_Campaign_by_Name-4.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Alert_lead_already_member_of_campaign</name>
        <label>Alert_lead_already_member_of_campaign</label>
        <locationX>611</locationX>
        <locationY>546</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>lead alrady member of campaign</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>lead alrady member of campaign</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>rfontcuberta@velcro.com</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>campaign_name_not_found</name>
        <label>campaign name not found</label>
        <locationX>574</locationX>
        <locationY>215</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>{!Campaign_name}  not found</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>campaign not found</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>rfontcuberta@velcro.com</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_email_campaign_lead_assigned</name>
        <label>Send email campaign lead assigned</label>
        <locationX>790</locationX>
        <locationY>433</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>lead assigned to {!Campaign_name}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>lead assigned to {!Campaign_name}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>rfontcuberta@velcro.com</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>Campaign_output</name>
        <label>Campaign_output</label>
        <locationX>282</locationX>
        <locationY>356</locationY>
        <assignmentItems>
            <assignToReference>Campaign_output_Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Campaign_Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>check_already_member</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Already_member</name>
        <label>Already_member</label>
        <locationX>379</locationX>
        <locationY>463</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Lead_Already_member</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Campaign_member_found</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Alert_lead_already_member_of_campaign</targetReference>
            </connector>
            <label>Lead_Already_member</label>
        </rules>
        <rules>
            <name>Lead_Not_Member</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Campaign_member_found</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Lead_to_Campaign</targetReference>
            </connector>
            <label>Lead_Not_Member</label>
        </rules>
    </decisions>
    <decisions>
        <name>Campaign_found</name>
        <label>Campaign found</label>
        <locationX>279</locationX>
        <locationY>207</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Campaign_found_res</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Campaign_Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Campaign_output</targetReference>
            </connector>
            <label>Campaign_found_res</label>
        </rules>
        <rules>
            <name>Campaign_not_found</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Campaign_Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>campaign_name_not_found</targetReference>
            </connector>
            <label>Campaign not found</label>
        </rules>
    </decisions>
    <description>Selects a campaign by a name parameter and creates a campaign member if it matches.</description>
    <interviewLabel>Find Campaign by Name {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Find Campaign by Name</label>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Assign_Lead_to_Campaign</name>
        <label>Assign Lead to Campaign</label>
        <locationX>588</locationX>
        <locationY>353</locationY>
        <connector>
            <targetReference>Send_email_campaign_lead_assigned</targetReference>
        </connector>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <elementReference>Campaign_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <stringValue>EUR</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadId</field>
            <value>
                <elementReference>Lead_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
    </recordCreates>
    <recordLookups>
        <name>check_already_member</name>
        <label>check already member</label>
        <locationX>176</locationX>
        <locationY>465</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Already_member</targetReference>
        </connector>
        <filters>
            <field>CampaignId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Campaign_Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>LeadId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Lead_Id</elementReference>
            </value>
        </filters>
        <object>CampaignMember</object>
        <outputReference>Campaign_member_found</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Find_Campaign</name>
        <label>Find Campaign</label>
        <locationX>85</locationX>
        <locationY>113</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Campaign_found</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Campaign_name</elementReference>
            </value>
        </filters>
        <object>Campaign</object>
        <outputAssignments>
            <assignToReference>Campaign_Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <startElementReference>Find_Campaign</startElementReference>
    <variables>
        <description>Campaign_Id</description>
        <name>Campaign_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Campaign_member_found</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>CampaignMember</objectType>
    </variables>
    <variables>
        <description>Campaign_name</description>
        <name>Campaign_name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Campaign_output_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Lead_Id passed by process</description>
        <name>Lead_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
